{% load markdownify %}
<br>
<div class="body col-sm-12">
<h4>Answers</h4>
<ul class="list-unstyled answers">
  {% for answer in question.answer_set.all %}
    <li class="answer row">
      <div class="col-sm-3 col-md-2 text-center">
        {% if answer.accepted %}
          <span class="badge badge-pill badge-success">Accepted</span>
        {% endif %}
        {% if answer.accepted and reject_form %}
          <form method="post"
                action="{% url 'qanda:update_answer_acceptance' pk=answer.id %}">
            {% csrf_token %}
            {{ reject_form }}
            <button type="submit" class="btn btn-link">
              <i class="fa fa-times" aria-hidden="true"></i>
              Reject
            </button>
          </form>
        {% elif accept_form %}
          <form method="post"
                action="{% url 'qanda:update_answer_acceptance' pk=answer.id %}">
            {% csrf_token %}
            {{ accept_form }}
            <button type="submit" class="btn btn-link" title="Accept answer">
              <i class="fa fa-check-circle" aria-hidden="true"></i>
              Accept
            </button>
          </form>
        {% endif %}
      </div>
      <div class="col-sm-9 col-md-10">
        <div class="body">{{ answer.answer|markdownify }}</div>
        <div class="meta font-weight-light">
          Answered by {{ answer.user }} on {{ answer.created }}
        </div>
      </div>
    </li>
  {% empty %}
    <li class="answer">No answer yet</li>
  {% endfor %}
</ul>
</div>
