{% extends "base.html" %}

{% load markdownify %}
{% load crispy_forms_tags %}

{% block title %} Ask a question {% endblock %}

{% block body %}
  <div class="col-md-12" >
    <h1>Ask a question</h1>
    {% if preview %}
      <div class="card question-preview" >
        <div clalss="card-header">
          Question Preview
        </div>
        <div class="card-body">
          <h1 class="card-title">{{ preview.title}}</h1>
          {{ preview.question | markdownify }}
        </div>
      </div>
    {% endif %}
    <form method="post">
      {{ form | crispy }}
      {% csrf_token %}
      <button class="btn btn-primary" id="preview" type="submit" name="action" value="PREVIEW">
        Preview
      </button>
      <button class="btn btn-primary" id='ask' type="submit" name="action" value="SAVE">
        Ask
      </button>
    </form>
  </div>
{% endblock %}


